@charset "UTF-8";

* {
	font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}

.flex-container > * {
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

header {background: black;color:white;}

html, body {
  height: 100%;
}

.card {
  width: 25%;
  padding-bottom: 25%;
  background-color: blue;
  position: relative;
  float: left;
  margin: 5px;
}

.text {
  margin: 10px;
  color: white;
  position: absolute;
}

#wrap {
  overflow: hidden;
}

/*Colorcards*/

.colorcard {
  color: rgba(255,255,255,0.5);
  font-size: 11px;
  padding: 10px;
  vertical-align: bottom;
  cursor: pointer;
  position: relative;
}

.colorcard>span{
  overflow: hidden;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.color_table {
  width: 100%;
  height: 100%;
  border: 0px;
  table-layout: fixed;
}
