<!-- cabeçalho -->
<div ng-include="'templates/partes/cabecalho-interno.html'"></div>
<!-- // // //  -->

<div class="main-content recurso-single">

	<div class="container">
		<div class="cabecalho-recurso container row">
			<div class="col-md-5 nopad" >
				<!-- Imagem, caso thumbnail seja true-->
				<div ng-if="recurso.thumbnail" class="img-recurso" style="background-image: url(http://portalmecapi.c3sl.ufpr.br{{recurso.thumbnail}})" ></div>
				<!-- Imagem, caso thumbnail seja false - verifica o tipo -->
				<div ng-show="recurso.thumbnail == undefined" >
			        <div ng-if="recurso.object_type == 'Áudio'"> <!-- Áudio -->
			          <div class="figure audio img-recurso" style="background-image: url(img/tumblr_REAs/tumblr_REAs_AUDIO.svg)"></div>
			        </div>
			        <div ng-if="recurso.object_type == 'Experimento prático'"> <!-- Experimento prático -->
			          <div class="figure experimento img-recurso" style="background-image: url(img/tumblr_REAs/tumblr_REAs_OUTROS.svg)"></div>
			        </div>
			        <div ng-if="recurso.object_type == 'Imagem'"> <!-- Imagem -->
			          <div class="figure imagem img-recurso" style="background-image: url(img/tumblr_REAs/tumblr_REAs_IMAGEM.svg)"></div>
			        </div>
			        <div ng-if="recurso.object_type == 'Mapa'"> <!-- Mapa -->
			          <div class="figure mapa img-recurso" style="background-image: url(../img/tumblr_REAs/tumblr_REAs_MAPA.svg)"></div>
			        </div>
			        <div ng-if="recurso.object_type == 'Outros'"> <!-- Outros -->
			          <div class="figure outros img-recurso" style="background-image: url(img/tumblr_REAs/tumblr_REAs_OUTROS.svg)"></div>
			        </div>
			        <div ng-if="recurso.object_type == 'PDF'"> <!-- PDF -->
			          <div class="figure pdf img-recurso" style="background-image: url(img/tumblr_REAs/tumblr_REAs_PDF.svg)"></div>
			        </div>
			        <div ng-if="recurso.object_type == 'Animação/simulação'"> <!-- Animação/simulação -->
			          <div class="figure animacao img-recurso" style="background-image: url(img/tumblr_REAs/tumblr_REAs_SIMULACAO.svg)"></div>
			        </div>
			        <div ng-if="recurso.object_type == 'Software Educacional'"> <!-- Software Educacional -->
			          <div class="figure software img-recurso" style="background-image: url(img/tumblr_REAs/tumblr_REAs_SOFTWARE.svg)"></div>
			        </div>
			        <div ng-if="recurso.object_type == 'Texto'"> <!-- Texto -->
			          <div class="figure texto img-recurso" style="background-image: url(img/tumblr_REAs/tumblr_REAs_TEXTO.svg)"></div>
			        </div>
			        <div ng-if="recurso.object_type == 'Vídeo'"> <!-- Vídeo -->
			          <div class="figure video img-recurso" style="background-image: url(img/tumblr_REAs/tumblr_REAs_VIDEO.svg)"></div>
			        </div>
			        <div ng-if="recurso.object_type == 'Website externo'"> <!--  Website externo -->
			          <div class="figure website img-recurso" style="background-image: url(img/tumblr_REAs/tumblr_REAs_WEBSITE.svg)"></div>
			        </div>
			      </div>
				<!-- // // // //-->

			</div>

			<div class="col-md-7 texto-img-recurso">
				<div class="col-md-12 titulo-recurso nopad"><h3>{{recurso.name}}</h3></div>
				<div class="col-md-12 pontuacao-recurso nopad"><div class="rating"><span ng-repeat="i in [1, 2, 3, 4, 5]" class="star"><i class="fa fa-star-o" aria-hidden="true"></i></span></div></div>
				<div class="col-md-12 tags-recurso nopad">
					<div class="tags">
						<span ng-repeat="tags in recurso.tags">{{tags.name}}</span>
					</div>
				</div>
				<div class="col-md-12 origem-recurso">
					<div class="origem-recurso-geral">
						<div class="img-origem-recurso">
							<img src="http://projetointegracao.nute.ufsc.br/prototipo/images/recurso/u1288.png">
						</div>
						<div class="titulo-origem-recurso">
							<span>origem</span>
							<br/>
							<a href="#">{{recurso.publisher.name}}</a>
						</div>
					</div>
					<div class="pull-right btn-download-recurso">
						<a href='http://portalmechomologa.c3sl.ufpr.br/learning_objects/{{id}}/download'><button type="button" class="btn btn-baixar-recurso">Baixar recurso</button></a>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-12">
			<div class="pull-left btn-donwload-recurso">
				<button type="button" class="btn btn-baixar-recurso" ng-click="like()">Like recurso</button>
			</div>
		</div>

		<div class="sobre-recurso container row">
			<div class="col-md-8">
				<div class="sobre-titulo">Sobre o Recurso</div>
				<div class="sobre-conteudo">
					<p>{{recurso.description}}</p>
					<p><b>Autoria:</b><br> {{recurso.author}}</p>
				</div>
			</div>
			<div class="col-md-4 metas-recurso" >
				<span ng-if="recurso.object_type" class="meta-recurso"><i class="material-icons">&#xE63A;</i>&nbsp; &nbsp; <strong>Tipo de mídia:</strong> {{recurso.object_type}}</span>
				<span ng-if="recurso.attachments[0].size" class="meta-recurso"><i class="material-icons">&#xE623;</i>&nbsp; &nbsp;  <strong>Tamanho:</strong> {{recurso.attachments[0].size | filesize}} </span>
				<span ng-if="recurso.created_at" class="meta-recurso"><i class="material-icons">&#xE168;</i>&nbsp; &nbsp;  <strong>Enviado:</strong> {{recurso.created_at |  limitTo:10 | date:"dd/MM/yyyy"}}</span>
				<span ng-if="recurso.updated_at" class="meta-recurso"><i class="material-icons">&#xE923;</i>&nbsp; &nbsp; <strong>Atualização:</strong> {{recurso.updated_at |  limitTo:10 | date:"dd/MM/yyyy"}}</span>
				<span ng-if="recurso.language.name" class="meta-recurso"><i class="material-icons">&#xE8E2;</i>&nbsp; &nbsp; <strong>Idioma:</strong> {{recurso.language.name}}</span>
				<span ng-if="recurso.license" class="meta-recurso"><i class="material-icons">&#xE8DE;</i>&nbsp; &nbsp; <strong>Licença de uso:</strong> {{recurso.license}}</span>
			</div>
		</div>


		<div class="comentarios container row">
			<div class="comentarios-cabecalho">
				<div class="col-md-6 experiencias-recurso">
					Experiências com o Recurso
				</div>
<!--
				<div id="twitter-like"></div> -->

				<div class="col-md-6  btn-comentar-recurso pull-right">
					<button type="button" class="pull-right btn btn-comentar"> <i class="material-icons">&#xE150;</i> Descrever experiência</button>
				</div>
			</div>
			<!-- comentários -->
			<div ng-include="'templates/partes/comentarios.html'"></div>
			<!-- // // //  -->
		</div>
	</div>
</div>
