<div class="colecao saiba-mais">
  <div class="full-width"> 
    <div class="container"> 
      <div class="col-md-4">
        <h2> Educação Pobreza<br>e Desigualdade Social</h2>
        <div class="rating">
          <span ng-repeat="i in [1, 2, 3, 4, 5]" class="star">
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </span>
        </div>
        <div class="tags">
          <span>Biologia</span> 
          <span>Genética</span> 
          <span>Ensino médio</span> 
          <span>2º ano</span> 
        </div> 
        <div class="links">
          <a title="Compartilhar recurso" href="#"><i class="material-icons">share</i></a>
          <a title="Enviar recurso" href="#"><i class="material-icons">send</i></a>
          <a title="Baixar recurso" href="#"><i class="material-icons">file_download</i></a>
        </div>
        <div class="rodape">
          <a title="Guardar recurso" href="#">GUARDAR</a>
          <a title="Ver mais" href="#">VER MAIS</a>
        </div>

      </div>
      <div class="col-md-8">
       <!-- Card para recursos educacionais -->

     </div>
   </div>
 </div>
</div>

