<div class="col-md-7 busca input-group">
	<input id="main-search" type="text" ng-model="busca" class="form-control" placeholder="Busque por recursos como imagens, vídeos, jogos, entre outros..." aria-describedby="s-input-all">
	<span class="input-group-addon" id="s-input-all"><a id="botaoBusca" href="#/busca?b={{busca}}" onclick="window.location.reload(true);"><span class="glyphicon glyphicon-search" aria-hidden="true"></a></span></span>
</div><!-- Busca -->

<script src="js/barraBusca.js"></script> <!-- Ações Js na barra de busca  -->