<div class="col-md-12 comentario-single">
	<div class="col-md-2 autor-comentario">
		<img class="avatar-comentario" src="http://zerohora.clicrbs.com.br/rbs/image/13229375.jpg">
		<span class="nome-autor-comentario">Francisco Da Silva</span>
		<span class="data-comentario">16 de Junho, 2016</span>
	</div>
	<div class="col-md-10">
		<div class="pontuacao-comentario">
			<div class="rating">
				<span ng-repeat="i in [1, 2, 3, 4, 5]" class="star"><i class="fa fa-star-o" aria-hidden="true"></i></span>
			</div>
			<div class="rating-texto"><span><strong>Recurso sensacional</strong></span></div>
		</div>

		<div class="comentario-conteudo">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam interdum nisi quam, ut sollicitudin eros tincidunt nec. Nunc congue commodo turpis ac eleifend. Nulla eu felis tortor. Suspendisse malesuada ligula varius turpis maximus, viverra sollicitudin enim tempor. Vivamus et massa urna. Donec tincidunt facilisis metus, in interdum ante blandit non. Mauris a risus mollis, varius augue ut, rutrum enim. Suspendisse potenti. Sed sem leo, vehicula a turpis eget, eleifend blandit felis.</p>
		</div>

		<div class="avaliar-comentario">
			<span>Esta avaliação foi útil? <i class="material-icons" data-toggle="tooltip" data-placement="auto" title="Sim">&#xE8DC;</i> <i class="material-icons" data-toggle="tooltip" data-placement="auto" title="Não">&#xE8DB;</i> <i class="material-icons" data-toggle="tooltip" data-placement="auto" title="Denunciar">&#xE160;</i></span>

			<span class="comentar"><i class="material-icons">&#xE8AF;</i> Comentar</span>
		</div>
	</div>
</div>

<script type="text/javascript" src="js/tooltip.js"></script>