<!-- cabeçalho -->
<div ng-include="'templates/partes/cabecalho-inicial.html'"></div>
<!-- // // //  -->

<div class="em-numeros todos bg">
  <div class="container">
    <div class="col-md-6">
      <img class="imagem" src="img/mapa-brasil-line-icon.svg" alt="Mapa">
      <span class="total">
        <span class="numeros">20.356</span>
        <span class="legenda">Recursos ao todo</span>
      </span>
    </div>
    <div class="col-md-6">
      <span class="title">ESSE MÊS:</span>
      <span class="enviados">
        <span class="numeros">10</span>
        <span class="legenda">Enviados</span>
      </span>
      <span class="baixados">
        <span class="numeros">30</span>
        <span class="legenda">Baixados</span>
      </span>
    </div>
  </div>
</div><!-- Plataforma em números -->


<!-- Conheça a Plataforma Home -->
<div class="colaborativa">
  <div class="container">
    <div class="titulo"><h2 class="title">Plataforma Colaborativa e Integrada</h2></div>
    <div class="funcoes">
      <ul class="itens list-inline">
        <li class="publique">
          <span class="icone"><i class="material-icons">&#xE2C6;</i></span>
          <span class="legenda">Publique seus<br>Recursos</span>
        </li>
        <li class="favorite">
          <span class="icone"><i class="material-icons">&#xE87D;</i></span>
          <span class="legenda">Favorite/salve<br>Recursos</span>
        </li>
        <li class="relate">
          <span class="icone"><i class="material-icons">&#xE0CA;</i></span>
          <span class="legenda">Relate sua<br>Experiência</span>
        </li>
        <li class="compartilhe">
          <span class="icone"><i class="material-icons">&#xE80D;</i></span>
          <span class="legenda">Compartilhe<br>Recursos</span>
        </li>
        <li class="baixe">
          <span class="icone"><i class="material-icons">&#xE2C4;</i></span>
          <span class="legenda">Baixe<br>Recursos</span>
        </li>
      </ul>
    </div>
    <div class="cta">Sabemos que demora muito tempo para procurar o recurso ideal na internet.<br>Por isso, trazemos para o portal Recursos de outros portais conhecidos:</div>
    <div class="portais">
      <ul class="itens list-inline">
        <li><img src="img/portal-do-professor.png" alt="Portal do Professor"></li>
        <li><img src="img/bioe.png" alt="BIOE"></li>
        <li><img src="img/dominio-publico.png" alt="Domínio Público"></li>
        <li><img src="img/escola-digital.png" alt="Escola Digital"></li>
        <li><img src="img/tv-escola.png" alt="TV Escola"></li>
      </ul>
    </div>
    
  </div>
</div>

<!-- ÁRecursos Educacionais Abertos -->
<div class="recursos-abertos">
  <div class="banner rea bg">
    <div class="container">
      <div class="title text-center"><h2>Recursos Educacionais Abertos</h2></div>
      <div class="icon col-md-5">
        <img src="img/rea-icon.svg" alt="Recursos Educacionais Abertos">
      </div>
      <div class="conteudo col-md-7">
        
        <p><strong>Professor(a), sabe aquela aula interessante que você realizou com seus estudantes e todos(as) na escola gostaram?</strong> Nessa plataforma, você pode transformá-la num recurso e compartilhá-lo com milhares de usuários(as)! Comece a construir essa experiência...</p>
        <a href="#">COMO PUBLICAR UM RECURSO</a>
      </div>
    </div>
  </div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="carousel slide multi-item-carousel" id="theCarouselRea">
        <div class="carousel-inner">
          
          <div class="item active" >
            <div ng-repeat="recurso in carroselLinha1" class="itens col-md-3" ng-include="'templates/partes/cards/card-rea.html'"></div>   
          </div>
          <div class="item" >
            <div ng-repeat="recurso in carroselLinha2" class="itens col-md-3" ng-include="'templates/partes/cards/card-rea.html'"></div>   
          </div>
          <div class="item" >
            <div ng-repeat="recurso in carroselLinha3" class="itens col-md-3" ng-include="'templates/partes/cards/card-rea.html'"></div>   
          </div>
          <div class="item" >
            <div ng-repeat="recurso in carroselLinha4" class="itens col-md-3" ng-include="'templates/partes/cards/card-rea.html'"></div>   
          </div>
          <div class="item" >
            <div ng-repeat="recurso in carroselLinha5" class="itens col-md-3" ng-include="'templates/partes/cards/card-rea.html'"></div>   
          </div>

        </div>
        <a class="left carousel-control" href="#theCarouselRea" data-slide="prev"><i class="material-icons">keyboard_arrow_left</i></a>
        <a class="right carousel-control" href="#theCarouselRea" data-slide="next"><i class="material-icons">keyboard_arrow_right</i></a>
      </div>
    </div>
  </div>
</div>

</div>

<!-- Coleções Estruturadas -->
<div class="colecoes">
  <div class="banner cole bg">
    <div class="container">
      <div class="icon col-md-5">
        <img src="img/cole-icon.svg" alt="Coleções">
      </div>          
      <div class="conteudo col-md-7">
        <h2 class="title">Coleções Estruturadas</h2>
        <p><strong>Professor(a), você tem vontade de trilhar seu próprio caminho de formação?</strong> Disponibilizamos para você coleções feitas por pesquisadores de diversas áreas, com conteúdos que podem te ajudar a refletir e se aprofundar em temas relacionados à Educação</p>
      </div>
    </div>
  </div>
  <div class=" category category-1">
    <ul class="container category1 list-inline">
      <li ng-repeat="i in [1, 2, 3]" class="col-md-4" ng-include="'templates/partes/cards/card-colecao.html'"></li> <!-- Card para coleções estruturadas -->
    </ul> 
  </div>
</div>

<!-- Recursos Educacionais Validados -->
<div class="recursos-validados">
  <div class="banner rev bg">
    <div class="container">
      <div class="icon col-md-5">
        <img src="img/rev-icon.svg" alt="Recursos Educacionais Validados">
      </div>
      <div class="conteudo col-md-7">
        <h2 class="title">Recursos Educacionais Qualificados pelo MEC</h2>
        <p>Caso busque uma maior formalidade na pequisa por um recurso, o MEC faz uma curadoria para você. Alguns desses recursos são gratuitos, podendo ser baixados na Plataforma, e alguns são pagos - te direcionando para o site do fornecedor.</p>
        <a class="" href="#" role="button">VER CRITÉRIOS DE VALIDAÇÃO</a>
      </div>
    </div>
  </div>
  <div class="container category container category-1">
    <ul class=" category1 list-inline">
      <li ng-repeat="i in [1, 2, 3]" class="col-md-4" ng-include="'templates/partes/cards/card-rev.html'"></li> <!-- Card para recursos qualificados -->
    </ul>
  </div>
</div>

<script>
  $('#theCarouselRea').carousel({
    interval: false
  })
</script>